.app-header {
  $self: #{&};
  $title: #{$self}__title;

  @at-root {
    #{$self} {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 7px 15px;
      background-color: $layout-element-background;
      border-bottom-left-radius: $g-border-radius-lg;
      border-bottom-right-radius: $g-border-radius-lg;
      color: $layout-element-font-color
    }

    #{$title} {
      display: inline-block;
      margin-left: 15px;
      line-height: 1;
      font-size: 1.125rem;
      font-weight: bold;
    }
  }
}
