@import "~@mdi/font/scss/variables";
@import "~@mdi/font/scss/functions";

@mixin label() {
  input + label {
    @content;
  }
}

@mixin label-icon() {
  @include label() {
    &:before {
      @content;
    }
  }
}

@mixin label-icon-hover() {
  @include label() {
    &:hover,
    &:focus {
      &:before {
        @content;
      }
    }
  }
}

@mixin label-icon-focus() {
  @include label() {
    &:focus {
      &:before {
        @content;
      }
    }
  }
}
@mixin label-icon-active() {
  @include label() {
    &:active {
      &:before {
        @content;
      }
    }
  }
}

@mixin toggle($icon-inactive, $icon-active, $type: 'radio') {
  $icon-width: 24px;
  $padding: 3px 0;

  display: inline-block;
  position: relative;
  user-select: none;
  line-height: 1;

  input {
    &:not(:checked),
    &:checked {
      display: none;
      opacity: 0
    }

    &:not(:checked) + label:before {
      content: mdi($icon-inactive);
      color: $color-disabled;
    }

    &:checked + label:before {
      content: mdi($icon-active);
      color: $color-enabled;
    }
  }

  @include label() {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: $padding;
    margin: 0;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
  }

  @include label-icon() {
    position: relative;
    display: inline-block;
    font: normal normal normal 24px/1 '#{$mdi-font-name}';
    border-radius: 50%;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 0 0 0 0 rgba(#000, 0);
    transition: box-shadow 0.09s nth($g-transition, 2),
                border-radius 0.09s nth($g-transition, 2);
  }

  @include label-icon-hover() {
    box-shadow: 0 0 0 8px rgba(#000, 0.05);
    background: rgba(#000, 0.05);
  }

  @if $type == 'checkbox' {
    @include label-icon-active() {
      box-shadow: 0 0 0 0 rgba($color-enabled, 0.1);
      background: rgba($color-enabled, 0.1);
      border-radius: 3px;
    }
  } @else {
    @include label-icon-active() {
      box-shadow: 0 0 0 0 rgba($color-enabled, 0.1);
      background: rgba($color-enabled, 0.1);
    }
  }

  &__content {
    display: block;
    margin-left: 10px;
    margin-top: 4px;
  }

  @content;

}

.c-checkbox {
  @include toggle('checkbox-blank-outline', 'checkbox-marked', 'checkbox');
}

.c-radio {
  @include toggle('radiobox-blank', 'radiobox-marked', 'radio');
}
