.c-context-popup {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  display: block;
  width: auto;
  height: auto;
  transform: translate(0, 0);
  background: #fff;
  padding: 10px 0;
}

.c-context-popup-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
  line-height: 1;
  font-size: 1rem;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba(#000, 0.1);
  }

  & + & {
    margin-top: 5px;
  }

  &__text {
    display: inline-block;
    margin: auto auto auto 0;
    white-space: nowrap;
  }

  &__leading,
  &__trailing {
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
    font-size: 1.125em;
  }

  &__leading {
    margin: auto 10px auto 0;
  }

  &__trailing {
    margin: auto 0 auto 10px;
  }
}