@import "../mixins/checkbox-radio";

.c-checkbox {
  $self: #{&};
  $label: #{$self}__label;
  $content: #{$self}__content;
  $toggle: #{$self}__toggle;
  $toggle-mark: #{$toggle}-mark;
  $toggle-box: #{$toggle}-box;
  $toggle-shadow: #{$toggle}-shadow;

  @at-root {

    #{$self} {
      @include check-styles('checkbox', $toggle, $toggle-shadow, $toggle-box, $toggle-mark);
      @include check-label;
      @include check-content;
    }

    #{$toggle} {
      @include check-toggle-styles {
        border-radius: $checkbox-border-radius;
      }
    }

    #{$toggle-mark} {
      @include check-toggle-mark-styles {
        background: $checkbox-mark-background no-repeat center / 90%;
      }
    }

    #{$toggle-box} {
      @include check-toggle-box-styles {
        border-radius: $checkbox-border-radius;
      }
    }

    #{$toggle-shadow} {
      @include check-toggle-shadow-styles;
    }

  }
}