@keyframes select-loading-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.c-select {
  $self: #{&};
  $chip: #{$self}__chip;

  $field: #{$self}__field;
  $field-input: #{$field}-input;
  $field-selected: #{$field}-selected;
  $field-icon: #{$field}-icon;

  $list: #{$self}__list;
  $list-info: #{$self}__list-info;
  $list-options: #{$self}__list-options;

  $option: #{$self}__option;

  $option-font-color: $g-font-color;
  $option-hover-background-color: rgba($color-primary, 0.8);
  $option-selected-background-color: rgba(#000, 0.1);
  $option-delete-background-color: rgba($color-error, 0.8);
  $option-group-background-color: rgba(#000, 0.15);

  @at-root {

    #{$self} {
      position: relative;
      height: auto;
    }

    #{$chip} {
      margin: 0 5px 5px 0;
      background-color: $option-hover-background-color;
      color: #fff;
      font-size: 0.9em;
      cursor: pointer;

      &:hover {
        background-color: $option-delete-background-color;
        color: #fff;
      }
    }

    #{$field} {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 100%;
      height: 100%;
    }

    #{$field-input} {
      flex: 1 1 auto;
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      background: none;
      margin: 0;
    }

    #{$field-selected} {
      flex: 1 0 auto;
      display: block;
      width: auto;
      margin: 0 auto 0 0;
      @include word-ellipsis();
    }

    #{$field-icon} {
      flex: 0 0 auto;
      display: inline-block;
      margin: auto 0 auto auto;
      font-size: 22px;
    }

    #{$list} {
      position: absolute;
      z-index: 3;
      top: 100%;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      height: auto;
      background: #fff;
      box-shadow: 0 5px 10px 0 rgba(#000, 0.3);
    }

    #{$list-info} {
      display: block;
      width: 100%;
      padding: .375rem .75rem;
    }

    #{$list-options} {
      display: block;
      width: 100%;
      height: auto;
      max-height: 300px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    #{$option} {
      display: block;
      width: 100%;
      padding: .375rem .75rem;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: $option-hover-background-color;
        color: #fff;
      }

      &.is-selected {
        font-weight: 600;
        background-color: $option-selected-background-color;
        color: $option-font-color;

        &:hover,
        &:focus {
          background-color: $option-delete-background-color;
          color: #fff;
        }
      }

      &.is-group {
        background: $option-group-background-color;
        color: $option-font-color;
      }
    }

  }

  // Transition
  &-enter-active,
  &-leave-active {
    transition: opacity 0.2s ease;
  }

  &-enter,
  &-leave-active {
    opacity: 0;
  }

  &-spin {
    animation: 0.5s linear infinite select-loading-spin;
  }

}