@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out-scale {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}


.fade-in {
  &-enter-active {
    animation: fade-in-scale .3s;
  }

  &-leave-active {
    animation: fade-out-scale .3s;
  }
}
