.c-list {
  $self: #{&};

  $item: #{$self}-item;
  $item-leading: #{$item}__leading;
  $item-body: #{$item}__body;
  $item-trailing: #{$item}__trailing;

  @at-root {

    #{$self} {
      display: block;
      width: 100%;
      max-width: 100%;
    }

    /*
    ** Item
    */
    #{$item} {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 100%;
      margin-bottom: 6px;
      padding: 6px 12px;
      border-radius: $g-border-radius;
      cursor: pointer;

      &:hover,
      &:focus,
      &.is-active {
        background-color: $color-primary;
        color: #fff;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    #{$item-leading},
    #{$item-trailing} {
      flex: 0 0 auto;
    }

    #{$item-leading} {
      margin-right: 10px;
    }

    #{$item-body} {
      flex: 1 1 auto;
    }

    #{$item-trailing} {
      margin-left: 10px;
    }

  }

}
