.c-tree-view {
  $self: #{&};
  $nested: #{&}__nested;

  @at-root {
    #{$self} {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      list-style: none;
      background: transparent;
    }

    #{$nested} {
      padding-left: 15px;
    }
  }
}

.c-tree-view-item {
  $self: #{&};
  $wrap: #{&}__wrap;
  $icon: #{&}__icon;
  $label: #{&}__label;
  $is-active: #{&}#{'.is-active'};

  $color-active: $color-secondary;

  @at-root {
    #{$self} {
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;

      &#{$is-active} {
        & > #{$wrap} {
          background-color: $color-active;
          color: #fff;
        }
      }
    }

    #{$wrap} {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 3px;
      border-radius: $g-border-radius;

      &:hover,
      &:focus {
        background-color: $color-active;
        color: #fff;
      }
    }

    #{$icon} {
      flex: 0 0 auto;
      display: inline-block;
      margin: 1px 5px auto 0;
    }

    #{$label} {
      flex: 1 1 auto;
      display: inline-block;
      margin: auto 0;
    }
  }
}
