$layout-gutter: $g-gutter;
$layout-background: rgba(#000, 0.1);
$layout-element-background: rgba(#fff, 1);
$layout-element-font-color: #333;
$layout-element-border-radius: $g-border-radius-lg;

@import "./main";
@import "./drawer";
@import "./header";

html,
body {
  background-color: $color-grey-light;
}

body {
  background: #00b09b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

