@mixin make-colored($name, $background, $text: #fff) {
  @include make-modifier($name) {
    background: $background;
    color: $text;

    &:hover,
    &:focus {
      background: lighten($background, 5%);
      color: $text;
    }

    &:active {
      background: darken($background, 5%);
      color: $text;
    }

    @content
  }
}

@mixin make-transparent($mod-name, $color) {
  @include make-modifier($mod-name) {
    background: transparent;
    color: $color;

    &:hover,
    &:focus {
      background: rgba($color, 0.2);
    }

    &:active {
      background: rgba(darken($color, 5%), 0.3);
    }
  }
}